{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block title %} {% if add_group %} Add Idea {% else
%} Edit Idea {% endif %} {% endblock %} {% block body %} {{ super() }}
<div class="content-section">
    <div class="">
        <div class="">
            <div class="">
                <div class="center">
                    {% if add_idea %}
                    <h1>Add Idea</h1>
                    {% else %}
                    <h1>Edit Idea</h1>
                    {% endif %}
                    <br/> {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}